@import url("App.css");
@import url("base.css");
@import url("CharacterList.css");
@import url("CharacterInfo.css");
@import url("CharacterDetails.css");
@import url("CharacterHomeworld.css");
@import url("Hero.css");
@import url("Loader.css");
@import url("Character.css");
@import url("global.css");
@import url("Pagination.css");
@import url("CustomButton.css");
@import url("CustomIcon.css");
